/* **************************************

  GENERAL FONT / ELEMENT

*****************************************/
body {
	background-color: whitesmoke;
}

.container {
	background-color: white;
}

.text-center {
	text-align: center;
}

html body {
	height: 100%;
	line-height: 1.66667;
	min-width: 320px;
	font-family: 'Antic Slab', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f313d;
}

h1 {
	font-family: 'Roboto', sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat Alternates', sans-serif !important;
}

p {
	margin: 0 0 1.66667em;
}

p > a,
p > em > a {
	text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed !important;
	margin-top: 0;
    padding: 0;
}

pre {
	line-height: 30px;
	padding-left: 5%;
	padding-right: 5%;
	background: #f8f8f8;
}

blockquote {
	display: table;
	position:relative;
	padding: 15px;
	background-color: whitesmoke;
	border: 2px solid #ebebeb !important;
	text-align: center;
	font-size: 110%;
	margin-left: auto;
	margin-right: auto;
}

blockquote > p {
  	font-style: italic !important;
}

strong {
  font-weight: 700 !important;
}

p > a,
.collection .collection-item,
.collection-item > a,
p > em > a {
	color: black !important;
}

p > a:focus,
p > a:hover,
p > em > a:hover,
.collection-item > a:hover {
  color:#4285f4 !important;
}

.postdate a,
.tag_heading  {
      color: white !important;
}

.post-head {
	margin-top: 30px;
	margin-bottom: 30px;
}

.post-title {
	margin-top: 0;
	font-family: 'Montserrat Alternates', sans-serif;
}

.post-subitems {
	margin-top: 30px;
	font-weight: 300;
}

.post-subitems > a
{
	color:black;
	text-decoration: none;
}

.post-subitems > a:hover
{
	color: #4285f4 !important;
	text-decoration: underline;
}

/* **************************************

  SPECIFIC RESTRICTIONS TO GUI

*****************************************/

.container-fluid {
	margin-left: auto;
	margin-right: auto;
}

.main-content,
.post-template {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.row.row-post {
  background-color: white !important;
}

.col {
	flex-basis: unset !important;
}


/* **************************************

  HEADER

*****************************************/

.logo-main {
	position: relative;
	top: 350px;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.logo-nav {
	height: 50px;
	margin-left: 8px !important;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-main {
  	position: relative;
	top: 375px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 2px 1px #000000;
	z-index: 1;
}

.cover-image {
	width: 100%;
	object-fit: cover;
	max-height: 500px;
}

.navbar {
	z-index: 10;
	display: flex;
	align-items: center;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 2px solid #ebebeb;
}

ul#navbarNav {
	margin-bottom: 0 !important;
	padding-left: 0 !important;
	list-style-type: none;
}

.navbar-nav {
	display: flex !important;
	flex-wrap: nowrap !important;
	flex-direction: row !important;
	padding-left: 0 !important;
}

/* color of clickable header */
.headerurl {
	text-decoration: none;
	text-align: center;
  	display: block;
	font-size: 3em !important;
	position: relative;
	text-shadow: 1px 1px black;
}

.nav-link {
	color: black !important;
}

.menu-item.active > .nav-link {
	color: #4285f4 !important;
}

 .nav-link:hover {
	color: #4285f4 !important;
	border-radius: 15px;
	text-decoration: none;
	text-shadow: none;
}

.headerurl:hover {
  text-decoration: none;
  color: #545454 !important;
}

.brand-logo {
	margin:0 !important;
}

.site-title {
	font-weight: 300 !important;
}

nav .brand-logo {
	 left: initial !important;
    -webkit-transform: initial !important;
    transform: initial !important;
}

img.cover {
	width:100%;
	max-height:250px;
	margin-bottom:15px;
}

img.logo {
	height: auto;
	max-height: 85px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	width: auto;
}

.menu-item {
	padding-left: 15px;
	padding-right: 15px;
	list-style: none;
}

.menu-item > a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.menu-item > a:hover {
	text-decoration: underline;
}

.menu-item > ul > .menu-item {
	margin-top: -11px;
	margin-bottom: -8px;
}

.menu-item:last-child > .dropdown-menu {
	left: inherit !important;
	right: 0% !important;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

.navbar-brand {
	font-size: 16px !important;
	font-weight: 600;
	margin-left: 5px;
}

.top-socials {
	position: relative;
	z-index: 9999;
	text-align: center;
	display: block;
}

.top-socials a i {
	margin-left: 5px;
	margin-right: 5px;
}

/* **************************************

  CONTENT MAIN

*****************************************/

.homepage-image {
	object-fit: cover;
	width: 100%;
	max-height: 200px;
}

.collection {
	margin: 0 !important;
	padding:0 !important;
	border: 0 !important;
}

ul.collection.collection-recent > a > li:hover {
	background-color: #d3d3d3;
}

.collection .collection-item:hover {
	background-color: #f8f8f8;
}

.collection .collection-recent {
	padding-left: 0;
}

.collection-item {
	border-bottom: 1px solid #f0f0f0 !important;
	list-style: none;
}

.collection-item > img {
	max-width: 100%;
}

.collection .collection-item {
	padding: 10px !important;
}

.collection .collection-item img:hover {
	filter: brightness(80%);
}

.postdate > a,
.author-profile h4,
.text-left-title a,
.author-url-post-head  {
	color:#b5b5b5 !important;
}

.main-content > .text-left-title,
article > h1:not(:first-child),
article > h2,
article > h3,
article > h4,
.author-url-post-head  {
	color:#b5b5b5 !important;
}

/* ######################################

POST/ARTICLE CARD UI - main

##########################################*/

.card {
	border: 1px solid #ebebeb !important;
	background-color: white;
}

.card:hover {
    background: #f8f8f8;
}

.card-title {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.card-title a {
	color: black;
	font-weight: 700;
	text-decoration: none;
}

.card-title a:hover {
	color: #4285f4;
	text-decoration: none;
}

.card-block,
.post-content {
	padding: 15px;
}

.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
}

.page-row {
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: white;
	max-width: 960px;
	position: relative;
}

.post-item-main > a {
	color: white;
}

.post-item-main > a:hover {
	text-decoration: none;
}

.post-item-main {
	margin-top: 5px;
  margin-bottom: 10px;
	height: 235px !important;
}

.badge {
	font-weight: 400;
	color: black;
}

.post-featured {
	filter: brightness(80%) !important;
	border: 5px solid #E39B00 !important;
	margin-top: -5px;
}

/* ######################################

POST/ARTICLE HEADERS

##########################################*/

.post-image {
	height: auto;
	background: black;
}


.postdate {
	padding: 10px;
	position:absolute;
	top:30px;
	right:30px;
	opacity:0.7;
	z-index:1;
	background-color:black;
	color:white;
}

.main-content > .collection > .collection-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-actions-top {
	margin-bottom: 10px;
}

.post-authors {
	margin-top: 30px;
}

/* **************************************

  ARTICLE/POST LOOK-N-FEEL

*****************************************/

.post-template .kg-post > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

.kg-image {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

 .kg-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
}

.kg-embed-card {
    display: flex;
	justify-content: center;
	align-items: center;
    margin: 1.5em 0 3em;
    min-width: 100%;
}

 .post-full-content .kg-image {
    max-width: 100%;
}

.kg-image-card,
.kg-gallery-card {
    margin: 0 0 1.5em;
}

 /* Preventing full-width image overlap with post image.  */
.post-full-image + .post-full-content .kg-post *:first-child .kg-image {
    width: 100%;
}

.kg-card.kg-image-card.kg-width-wide {
    position: relative;
	width: 100%;
}

.kg-card.kg-image-card.kg-width-full {
	margin-left: calc(-95vw / 2 + 1060px / 2);
	margin-right: calc(-95vw / 2 + 1060px / 2);
	position: relative;
	min-width: 100%;
	width: unset !important;
}

.kg-card.kg-image-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

 .kg-image-card figcaption,
 .kg-gallery-card figcaption {
	text-align: center;
	margin-bottom: 35px;
	font-style: italic;
	background:	#f8f8f8;
	border: 2px solid #ebebeb;
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

 .post-full-content .kg-image-full + figcaption {
    max-width: 840px;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 100%;
    width: 100vw;
}
 .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
 .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0;
}
 .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

/* new link/bookmark item */

.kg-bookmark-card {
	padding: 20px;
}

.kg-bookmark-publisher {
	font-weight: bold;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
	border: 2px solid #ebebeb;
	border-radius: 5px;
	padding: 25px;
	background: #f8f8f8;
}

.kg-bookmark-container:hover {
	color: black !important;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
    margin-top: 12px;
}

.kg-bookmark-thumbnail {
    flex-basis: 15rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    vertical-align: bottom;
    object-fit: cover;
    width: 100%;
}

.kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}
/* end new bookarm item */

.post-template {
	background-color: white;
}

.post-template > .container-fluid > .row > .sidebar {
	background-color: white;
}

.post-content h1 {
  	font-size: 210%;
	font-family: 'Montserrat Alternates', sans-serif !important;
	margin-top: 35px;
}

.post-content h2 {
	font-size: 180%;
	font-family: 'Montserrat Alternates', sans-serif !important;
	margin-top: 35px;
}

.post-content h3 {
	font-size: 165%;
	font-family: 'Montserrat Alternates', sans-serif !important;
	margin-top: 35px;
}

.post-content h4 {
	font-size: 140%;
	font-family: 'Montserrat Alternates', sans-serif !important;
	margin-top: 35px;
}

.post-content ul li {
	list-style-type: square !important;
	margin-left: 40px;
	margin-right: 40px;
	padding:5px;
	line-height: 35px;
}

.post-content ol li {
	margin-left: 40px;
	margin-right: 40px;
	padding:5px;
	line-height: 35px;
	text-align: justify;
}

.post-content a {
  color: black;
}

article {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding-top: 15px;
	word-wrap: break-word;
}

.posthead-image {
	max-height: 500px;
	width: 100%;
	height: 100%;
	top: 150px;
	position: relative;
	opacity: 0.5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.content-images-featured {
	width: 100%;
}

iframe {
	max-width: 100% !important;
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
}


/* **************************************

  ARTICLE HEADING TAGS, AUTHOR AND PAGES look-n-feel

*****************************************/

.post-avatar {
	height: 75px;
	width: 75px;
	border-radius: 15px;
}

.author_wrap {
	background:rgba(255,255,255,0.5);
	border-radius: 5px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.author_wrap p {
	color: black;
	font-family: 'Montserrat Alternates', sans-serif !important;
	font-weight: 700;
	font-size: 125%;
	margin-bottom: 0;
}

.tag_head_wrap {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.tag_heading_home {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tag_heading {
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 300px;
}

.tag_heading_post {
	background-size: unset;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.tag_heading > .posttitle {
    font-size: 2.5em;
	text-shadow: none;
	color: black !important;
	margin-bottom: 0;
	text-transform: capitalize;
	z-index: 10;
	opacity: 0.5;
	font-family: 'Montserrat Alternates', sans-serif !important;
	background:white;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cat-links-hr {
	margin-top:7px;
	margin-bottom:7px;
	clear:both;
}

.cat-links > a:hover {
	text-decoration: underline;
	color: #4285f4 !important;
}

.tagslist {
	margin-bottom: 35px;
	padding-top: 35px;
	margin-left: 10px;
}

.tagslist a {
	text-decoration: none;
	font-weight: 300;
	color: #9e9e9e;
	padding: 10px;
	text-transform: uppercase;
}

.tagslist a:hover {
	color: #4285f4;
	text-decoration: underline;
}


/* **************************************

	ARTICLE: AUTHOR-section look-n-feel

*****************************************/
.author-profile h4 a {
	text-decoration: underline;
}

.author-profile {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding-top: 25px;
	padding-bottom: 25px;
}

img.avatar {
	border-radius: 25px;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
	z-index:200;
}

.homepage-avatar {
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.avatar-page {
	width:65px;
	height:65px;
	border-radius: 15px;
}

.avatar-page-author {
	padding: 2px;
	margin-bottom: 8px;
	background-color: white;
}

.author-name {
	font-size:200%;
	font-weight: 300 !important;
}

.author-social {
	margin-top: 50px;
}

.author-social > a > i {
	color:black;
	margin: 5px !important;
}

.socialauthor {
	padding: 15px;
}

.socialauthor > ul > li {
	margin-top: 10px;
	margin-bottom:10px;
}

.author-bio-text {
	padding: 20px;
	text-align: center;
}

/* **************************************

  PAGINATION

*****************************************/

.pagination {
	list-style: none;
	padding-left: 0;
	margin: 0;
	background-color: white;
}

.pagination > .active {
	font-weight: 600;
	text-align: center;
	border-radius: 15px;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination > a > li {
	font-weight: 600;
	border-radius: 15px;
	width: 50px;
	height: 50px;
	line-height: 48px;
	border: 1px solid #d3d3d3;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	background: #f8f8f8;
}

.pagination a li  {
	color: black !important;
}

.pagination a li:hover {
    background: #d3d3d3;
}

.pagination li {
    display: flex;
    align-items: center;
	justify-content: center;
}
/* **************************************

  RELATED

*****************************************/

.related {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

/* **************************************

  FOOTER

*****************************************/
footer {
	width: 100%;
	overflow: hidden;
	z-index: 999;
	text-align: center;
	margin-top: 25px;
}

.page-footer {
	padding-top: 15px;
	bottom: 0;
}

.footer a,
.footer p {
	color: black;
	font-weight: bold;
	margin-top: 25px;
}

.footer a:hover {
	color: #4285f4 !important;
}

/* **************************************

	TWEAKS FOR DIFFERENT DISPLAY SIZES

*****************************************/

/* For the people that have phones reporting very low resolutions */
@media (max-width:575px) {
	.cover-image {
		display: none;
	}

	.container {
		margin: 0 !important;
	}

	.logo-fixed,
	.logo-nav {
		height: 32px;
	}

	.navbar-nav {
		padding-left: 0 !important;
	}

	.menu-item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.avatar-page-author {
		margin-top: 0;
	}

	.card-block {
		max-width: 100% !important;
		height: auto !important;
		padding: 10px;
	}

	.card {
		border: 0 !important;
		padding-bottom: 30px;
		flex-direction: column !important;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 135%;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.posthead-image {
		top: 0;
		height: auto;
		width: 100%;
	}

	.post-image {
		height: auto;
		width: 100%;
	}
	
	h1 {
		font-size: 2rem !important;
		margin-top: 0;
	}

	h2 {
		font-size: 1.7rem !important;
	}

	h3 {
		font-size: 1.4rem !important;
	}

	h4 {
		font-size: 1.1rem !important;
	}

	img.logo {
		margin-bottom: 40px;
		height: 64px;
	}

	img.avatar {
		margin-top: 20px;
		margin-left: auto !important;
		margin-right: auto !important;
		display: block;
		float: initial;
	}

	.author-bio-text {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	.homepage-avatar {
		width: 25px;
		height: 25px;
	}

	p.text-justify {
		padding-top: 0;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
	}

	.post-title {
		margin-top: 0;
	}

	.postdate {
		padding:5px;
	}

	.row-post {
		margin-top: -15px;
	}

	.fa-star,
	.fa-circle {
		margin-right: 5px;
	}

	.post-content ul li {
		margin-left: 0;
	}

	.tagslist {
		margin-left: 0;
	}

	.tagslist a {
		padding: 3px;
	}

	.page-row {
		margin-top: 0;
		max-width: 100vw;
	}

	iframe {
		padding: 15px;
	}

	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

}

/* mobile devices */


@media (max-width:767px) and (min-width:576px) {

	.navbar-nav {
		padding-left: 0 !important;
	}

	.logo-fixed,
	.logo-nav {
		height: 40px;
	}

	.menu-item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.tag_heading_home {
		top: 0;
		position: relative;
		height: 100%;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.logo-main {
		top: 50px;
	}

	.img.logo {
		height: 75px;
		max-height: 75px;
		max-width: 100%;
	}

	.cover-image {
		position: relative;
		height: 300px;
	}

	.text-main {
		top: 65px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card {
		border: 0 !important;
		padding-bottom: 30px;
		flex-direction: column !important;
	}

	.card-text {
		height: auto;
	}

	.page-row {
		margin-top: 0;
		max-width: 100vw;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.navbar-brand {
		color: white !important;
	}

	.navbar-brand:hover {
		color: #545454 !important;
	}

	.nav-link {
		text-align: center;
	}

	.nav-link:hover {
		color: #545454 !important;
	}

	.homepage-avatar {
		width: 35px;
		height: 35px;
	}

	.posthead-image {
		top: 0;
		min-height: 300px;
		height: auto;
		width: 100%;
	}

	.post-image {
		height: auto;
		width: 100%;
	}

    h1 {
    	font-size: 120%;
    }

	.content-images,
	.content-images-individual {
		object-fit: cover;
  	}

	.container-fluid {
		margin-left: auto;
		margin-right: auto;
	}

	.row-post {
		margin-top: -15px;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 180% !important;
	}

	iframe {
		padding: 25px;
	}

	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

}


@media (max-width:991px) and (min-width:768px) {

	.tag_heading_home {
		top: 0;
		position: relative;
		height: 300px;
		min-height: 300px;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 300px;
		min-height: 300px;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 180% !important;
	}

	.logo-main {
		top: 12vh;
	}

	.cover-image {
		height: 320px;
	}

	.text-main {
		top: 65px;
	}

	.card-text {
		height: auto;
	}

	.page-row {
		margin-top: 0;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.navbar {
		margin-bottom: 0;
	}

	.navbar-brand {
		color: white !important;
	}

	.navbar-brand:hover {
		color: #545454 !important;
	}

	.posthead-image {
		top: 0;
		min-height: 300px;
		height: auto;
		width: 100%;
	}

	.post-image {
		height: auto;
		width: 100%;
	}

    h1 {
    	font-size: 120%;
    }

	.content-images,
	.content-images-individual {
		object-fit: cover;
    }

	.container-fluid {
		margin-left: auto;
		margin-right: auto;
	}

	.row-post {
		margin-top: -15px;
	}


	img.logo {
		margin-top: 70px;
		height: 75px;
		max-height: 75px;
	}

	.avatar-page-author {
		margin-top: 30px;
	}


	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

}


/* tablet devices */
@media only screen and (min-width: 992px) {
	.card-title {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.homepage-avatar {
		width: 35px;
		height: 35px;
	}

	.headerurl {
		color: white !important;
	}

	.tag_heading_post {
		background-size: cover;
		height: 300px !important;
		max-height: 300px !important;
	}

	.tag_heading_home {
		height: 300px !important;
		max-height: 300px !important;
	}

}


/* **************************************

  ERROR PAGE

*****************************************/
.error {
	background-color: orangered;
}

.read-more-btn {
	background-color: white !important;
	color: black !important;
	border: 1px solid grey !important;
}

.read-more-btn:hover {
	border:1px solid #4285f4 !important;
}

.card-actions-bottom {
  display: block;
  text-align: center;
	margin-bottom: 30px;
}

.fa-exclamation-triangle {
	margin-bottom: 50px;
}

/* **************************************

EXTERNAL libraries look-n-feel

*****************************************/
.fa-user-secret,
.fa-tag {
	color: #b5b5b5;
	margin-left:20px;
	margin-right:20px;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-twitter:hover {
	color: #1dcaff;
}

.fa-rss:hover {
	color: #f26522;
}

.fa-rss {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background-color: white;
	border-radius: 15px;
}

.fa-twitter {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background-color: white;
	border-radius: 15px;
}

.fa-facebook {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background-color: white;
	border-radius: 15px;
}

.fa-twitter-author,
.fa-facebook-author {
	color: black;
	background-color: white;
	border-radius: 15px;
}

.fa-tag {
	margin-right: 8px;
}

.fa-calendar {
	margin-left: 20px;
}

.fa-clock,
.fa-user,
.fa-book {
	margin-right: 10px;
	color: black;
}

.fa-user,
.fa-book {
	margin-left: 25px;
}

.fa-bars {
	color: black;
}

i.fas.fa-exclamation-circle.fa-2x {
    margin-right: 10px;
}

.postdate i {
	margin-right: 5px;
}

.postdate > a i {
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	margin-top: 3px;
}

/* add some styling to disqus */
#disqus_thread {
	padding-left: 40px;
	padding-right: 40px;
}


